<table>
{% assign sorted = alts | sort: 'win_software' %}
{% for a in sorted %}
 <tr>
  <td class="windows-software">
   <a href="/linux-alternatives-to/windows/{{a.win_internal_url}}">{{a.win_software}}</a>
  </td>
  <td>
    <ul> 
{% for l in a.linux_alternatives %}
     {% if l.paid %}
      <li> <font color="#3cb371"><strong>$ Paid</strong></font> <a href="/linux-software/{{ l.internal_link }}">{{ l.name }}</a> (<a href="{{ l.url }}" target="_new" rel="nofollow">{{ l.url }}</a>)
     {% else %}
      <li> <a href="/linux-software/{{ l.internal_link }}">{{ l.name }}</a> (<a href="{{ l.url }}" target="_new">{{ l.url }}</a>)
     {% endif %}
{% endfor %}
    </ul>
  </td>
 </tr>
{% endfor %}
</table>
